@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Special+Elite&family=Yatra+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 515px;
  width: 400px;
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 6px 24px #e4e2ee;
  border-radius: 0px 0px 14px 14px;
}
.img_size {
  width: 100%;
  height: 350px;
  border-radius: 14px 14px 0px 0px;
}
.header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  margin-top: 20px;
  text-align: center;
  color: #1f3347;
}
.flexing {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 25px 20px;
}
.card_item_1 {
  width: 80px;
  height: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: #9da1b4;
}
.card_item_2 {
  width: 89px;
  height: 14.26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: #9da1b4;
}
.card_item_3 {
  width: 149px;
  height: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: #9da1b4;
}
.card_item_4 {
  width: 134px;
  height: 14.26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: #9da1b4;
}

.btn {
  width: 88px;
  height: 30px;
  background: #6347f9;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 110px;
}
.btn:hover {
  background-color: #1f3347;
}
