@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&family=Special+Elite&family=Yatra+One&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
}